# Summer Python Skill Assessment

## Part 1: Closed Book Question

**(1)**

In [5]:
x = 0
for i in range(5):
    x = x + i
print(x)

10

**(2)**

In [8]:
x = [1, 2, 3]
y = x

x.append(4) 
# Note: `.append(4)` will add the number 4 as the last entry 
# in the list associated with x.

print(y)

[1, 2, 3, 4]

**(3)**

In [11]:
x = 'this is a string'
y = x
x = x.upper()
print(y)

this is a string

## Part 2: Basic Python

**(1)** What is the type of the variable x defined as `x = "42"`?

In [1]:
type("42")

str

**(2)** Consider the list `my_list = [42, 47, 1.168, 3.14, 8, -5]`. What code would return the *second* and *third* entries of `my_list`?

In [2]:
my_list = [42, 47, 1.168, 3.14, 8, -5]
my_list[1:3]

[47, 1.168]

**(3)** What code would return the last entry of `my_list`?

In [3]:
my_list[5]

# or 

my_list[-1]

-5

**(4)** What is the value of $\frac{5^{3}}{12 * 5}$ (rounded to two decimal places)

In [3]:
round((5**3) / (12*5), ndigits=2)

2.08

**(5)** Add up all the odd numbers from 1 to 153 (e.g. 1, 2, 3, ... , 150, 151, 153).

In [9]:
# One way: 
sum([i for i in range(154) if i % 2 == 1])

# Or: 
total = 0
for i in range(154):
    if (i % 2 == 1):
        total += i
total

# Or: 
sum(range(1, 154, 2))

5929

## Part 2: Basic Data Analysis
Below, you're given a list of 500 random integers. Use that list to answer the following questions.

**(1)** What is the difference between the largest and the smallest number in this list?

**(2)** What is the mean of this list?

**(3)** How many of the numbers in the list are multiples of 251? For example, since 251\*2 = 502, then 502 is a multiple of 251.

**(4)** What is the mean of the odd values in this list?

In [3]:
# Generate the 500 random numbers [DO NOT MODIFY THIS CODE]
import numpy as np
np.random.seed(14) # This guarantees the code will generate the same set of random numbers whenever executed
random_integers = np.random.randint(1,high=500000, size=(500))

print(random_integers)

[117356  79193 402701 117143 285000 306938 482663 340715 187037 489099
 361681 301630 237033 384878 202395 455706  66008 310263 272876 121377
 364536 164101 393166 244875 302731  79361  61911 236629 243846 376358
 271993 313446 268330 493289 426216   8772 427728  95557 332750 273582
  68988  16146 130812 185335 153473 224416 213770 365756  49180 103414
 172251 436012 294647  75763 274690   3965 348488 178281 490176 370571
 100398 417520 305183 447380 386626 404538 385612 153806 211282 342374
  60174 338873 423248 214698 168576 476438  43534 254276 165950 274763
  65263 386490 268751  57949 343279 450493 298506   4431 211333 108723
 270822 481845  16642 329868 165861 405362 323972 471053 211869  81750
 313833 134546  79188 270712 137777 354212 274024 298962 291211  74549
   3903 306390 288309 201028 494905 447463 403450 144433 423241 433646
 112309 152164 285783 194007 463801 474381 306739   9276 452346 230477
 481080  83746 366033  68800 426501 280396  45408 420537 135292 251291
 118194  13085 249639  38281 156515 132476 417382 194205  74306 343248
 263715 191233 354267   8348 495020 365868 471620 222228 152316 322068
 217820  49359 285387  21583 350203 145641 101231 430336  59550 463147
 183715 305827 302543 188453 237000  95144 372070  18455  69706 301087
 493934  13652 275401 122461 315542 388819  60478 415747 406506 473085
 150724  57940  94885 101176 198385 101413  71350 276904 280074 290324
 178205 247621 284356 210916 487022  41202 230490 448883 277469 422523
 144934 236785 312883 185775 335966  89719 234304  39807 168712 348289
  63803  10550   6449 170069  35589 477263  14060 384474 357074  30968
 187681 318956  23927 435999 166127  54628 101576 461472 340576 185647
 260394  32365 336439 384599  48015 152403  16347 117748 403583 364162
 211166 203736  49466 306523 428396 114866 261539 440881 362763 159729
 425294 482596 299292 355930 111776  98824   3921 273758 118399 430826
 438208 381271 339900  80657  50203 474743 471600 353567 450765 296258
  33415 104288 367591 323201 354633 424392 131955  28204 313363 290467
 376520 170149 214179 205539 163528  61034 322362 376660 184010 309345
 286925 323248 474445 473328 477337 390292 214228 229392 324264  91835
 390826 402078 335505 472759 155112 202409 283000 102724 196553 310444
 262396 157409 199013 267656 484045 208658 201896 113097 347062 364805
 250666 222504 376317 479592 493836 229781 359432 272322 341494  16717
 280897  39074 334878 101829  67820 488769 247540 143353 285099 140820
 300867 495427 373674  49985  69313 198232 223241 497281 421842  79169
 496639 299713 255833 432043  12777 437581 291642 148043 477607 112096
  67864  44283  69392 382337 284343 293189 180281 291319 363481 435428
 459072 443134  11440 186101 275322 227867 324407 422703 482207 188337
  32275  17736 451824 335077 479673   4951 421401 459572 355113 412146
 249808 138691 314608 260414 376289 383590 162707 258334 434896  53880
 374156 230751 374337 290961  66454 326880 488671 405650 313874 400569
  32656 461726 304489  15001  33060 481390 181060  37369 412141 366134
  85716 113532 246890 258636 391593 363026 282380 227961 367884 383101
 267678  98615 153772 448604  44697 109702  55407  97120 170272  85218
 362417  12991 315547  13608 191483 361957 473101  27746 369041 379912
 360818 323716 109783  79343  86940  44999 263884 233513 130902 317999
 353540 254496 241344 327760 175980 197694 457353 442152 181599 497937
 346809 425322 325502 311691 289366 427003   5406 313027  79199 397995
  98327 323324  68021 211022 331601 187769 479679 227348   5848 382203]

## Part 3: Implementing Equations
**(1)** Implement the following equation as Python code, and determine what its value is for $x=1$. What is the value of $y$ to 5 decimal places? 

$$y = 4\sum_{n=0}^{10^6} \frac{(-1)^n}{2n+1}x^{2n+1}$$

*Hint: if all goes well, you should see a familiar number*

## Part 4: Loading data and answering questions for a real dataset

For this part, we'll be using data on US power plants that you can download from this url: [https://bit.ly/2Mlt8lR](https://bit.ly/2Mlt8lR) (that code is the number 2, capital M, lower case L, lower case t, the number 8, lower case L, capital R). The file is a comma-separated value spreadsheet (CSV) called `egrid2016.csv`. 

This is the dataset we'll be exploring through the following exercises. This dataset is the Environmental Protection Agency's (EPA) [Emissions & Generation Resource Integrated Database (eGRID)](https://www.epa.gov/energy/emissions-generation-resource-integrated-database-egrid) containing information about all power plants in the United States, the amount of genereration they produce, what fuel they use, the location of the plant, and many more quantities. We'll be using a subset of those data.

The fields we'll be using include:					
    
|field    |description|
|:-----   |:-----|
|SEQPLT16 |eGRID2016 Plant file sequence number (the index)| 
|PSTATABB |Plant state abbreviation|
|PNAME    |Plant name |
|PLPRMFL  |Plant primary fuel |
|CAPFAC   |Plant capacity factor |
|NAMEPCAP |Plant nameplate capacity (Megawatts MW)|
|PLNGENAN |Plant annual net generation (Megawatt-hours MWh)|
|PLCO2EQA |Plant annual CO2 equivalent emissions (tons)|


### Analyzing the CSV

For this CSV dataset, your goal is answer the following questions about electricity generation in the United States:

**(1)** Which plant has generated the most energy (measured in MWh)?

In [6]:
import pandas as pd
egrid = pd.read_csv('/users/nick/downloads/egrid2016.csv')
egrid.head()

,SEQPLT16,PSTATABB,PNAME,PLPRMFL,CAPFAC,NAMEPCAP,PLNGENAN,PLCO2EQA
0,1,AK,7-Mile Ridge Wind Project,WND,NaN,1.8,NaN,NaN
1,2,AK,Agrium Kenai Nitrogen Operations,NG,NaN,21.6,NaN,NaN
2,3,AK,Alakanuk,DFO,0.0533,2.6,1213.0,"1,050"
3,4,AK,Allison Creek Hydro,WAT,0.0155,6.5,881.0,0
4,5,AK,Ambler,DFO,0.1366,1.1,1316.0,"1,088"

In [8]:
egrid.loc[egrid['PLNGENAN'] == egrid['PLNGENAN'].max()]

,SEQPLT16,PSTATABB,PNAME,PLPRMFL,CAPFAC,NAMEPCAP,PLNGENAN,PLCO2EQA
390,391,AZ,Palo Verde,NUC,0.878,"4,209.60",32377477.0,0

**(2)** What plant has the highest annual CO2 emissions? 

*Note: there's a trick to this, so if you get stuck and don't immediately understand the problem, just move on*

In [18]:
egrid['co2'] = egrid['PLCO2EQA'].str.replace(',', '')
egrid['co2'] = egrid['co2'].str.replace('NaN', '')
egrid['co2'] = egrid['co2'].astype('float')
egrid.loc[egrid['co2'] == egrid['co2'].max()]

,SEQPLT16,PSTATABB,PNAME,PLPRMFL,CAPFAC,NAMEPCAP,PLNGENAN,PLCO2EQA,co2
191,192,AL,James H Miller Jr,SUB,0.7359,"2,822.00",18193039.0,"21,724,990",21724990.0

**(3)** What state has the second largest power plant (by average annual net generation) in the country?

In [21]:
egrid = egrid.sort_values('PLNGENAN', ascending=False)
egrid.head()

,SEQPLT16,PSTATABB,PNAME,PLPRMFL,CAPFAC,NAMEPCAP,PLNGENAN,PLCO2EQA,co2
390,391,AZ,Palo Verde,NUC,0.8780,"4,209.60",32377477.0,0,0.0
164,165,AL,Browns Ferry,NUC,0.8565,"3,494.00",26214623.0,0,0.0
7966,7967,PA,Peach Bottom,NUC,0.8968,"2,784.60",21875435.0,0,0.0
8764,8765,TX,South Texas Project,NUC,0.9143,"2,708.60",21694303.0,0,0.0
8157,8158,SC,Oconee,NUC,0.9065,"2,666.70",21177103.0,0,0.0

**(4)** What state has the highest average annual net generation for all its power plants?

In [24]:
state_avgs = egrid[['PSTATABB', 'PLNGENAN']].groupby('PSTATABB').mean()
state_avgs.sample(10)

              PLNGENAN
PSTATABB
VA        6.805501e+05
MI        4.896148e+05
DC        3.823700e+04
VT        2.171826e+04
IL        9.233369e+05
SC        1.010268e+06
MS        1.612341e+06
WY        7.525263e+05
UT        3.775636e+05
NM        3.502399e+05

In [26]:
state_avgs.sort_values('PLNGENAN', ascending=False).head()

              PLNGENAN
PSTATABB
WV        2.169799e+06
AL        1.957031e+06
KY        1.745076e+06
MS        1.612341e+06
FL        1.577658e+06

### Merging in Location Data

For these next questions, download the file egrid2016_locations.xlsx from [https://bit.ly/2YSReuR](https://bit.ly/2YSReuR) (that's two, capital Y, capital S, capital R, lower case e, lower case u, capital R), then merge that dataset with the data you are already using on the variable `SEQPLT16`.

Note that the headers for this datadset are on the second row and you'll want to ignore the first row (they're more detailed descriptions of the headers).

**(5)** What is the name of the northern-most power plant in the United States (i.e. the plant with this highest value of latitude (`LAT`)?

In [40]:
locations = pd.read_excel('/users/nick/downloads/egrid2016_locations.xlsx',
                         header = 1)

In [41]:
locations.head()

   SEQPLT16 PSTATABB                             PNAME        LAT         LON
0         1       AK         7-Mile Ridge Wind Project  63.210689 -143.247156
1         2       AK  Agrium Kenai Nitrogen Operations  60.673200 -151.378400
2         3       AK                          Alakanuk  62.683300 -164.654400
3         4       AK               Allison Creek Hydro  61.084444 -146.353333
4         5       AK                            Ambler  67.087980 -157.856719

In [42]:
merged = pd.merge(egrid, locations, on='SEQPLT16', validate='1:1')
merged.head()

,SEQPLT16,PSTATABB_x,PNAME_x,PLPRMFL,CAPFAC,NAMEPCAP,PLNGENAN,PLCO2EQA,co2,PSTATABB_y,PNAME_y,LAT,LON
0,391,AZ,Palo Verde,NUC,0.8780,"4,209.60",32377477.0,0,0.0,AZ,Palo Verde,33.388100,-112.861700
1,165,AL,Browns Ferry,NUC,0.8565,"3,494.00",26214623.0,0,0.0,AL,Browns Ferry,34.704200,-87.118900
2,7967,PA,Peach Bottom,NUC,0.8968,"2,784.60",21875435.0,0,0.0,PA,Peach Bottom,39.758936,-76.268742
3,8765,TX,South Texas Project,NUC,0.9143,"2,708.60",21694303.0,0,0.0,TX,South Texas Project,28.795000,-96.048100
4,8158,SC,Oconee,NUC,0.9065,"2,666.70",21177103.0,0,0.0,SC,Oconee,34.793900,-82.898600

In [43]:
merged.columns

Index(['SEQPLT16', 'PSTATABB_x', 'PNAME_x', 'PLPRMFL', 'CAPFAC', 'NAMEPCAP',
       'PLNGENAN', 'PLCO2EQA', 'co2', 'PSTATABB_y', 'PNAME_y', 'LAT', 'LON'],
      dtype='object')

In [48]:
merged = merged.sort_values('LAT', ascending=False)
merged.head()

,SEQPLT16,PSTATABB_x,PNAME_x,PLPRMFL,CAPFAC,NAMEPCAP,PLNGENAN,PLCO2EQA,co2,PSTATABB_y,PNAME_y,LAT,LON
2974,12,AK,Barrow,NG,0.2821,20.3,50162.0,"44,205",44205.0,AK,Barrow,71.292000,-156.778600
5114,94,AK,NSB Wainwright Utility,DFO,0.2351,3.3,6796.0,"6,221",6221.0,AK,NSB Wainwright Utility,70.642877,-160.020461
6056,89,AK,NSB Atqasuk Utility,DFO,0.0960,3.4,2859.0,"2,930",2930.0,AK,NSB Atqasuk Utility,70.482600,-157.425200
2634,132,AK,TNSG North Plant,NG,0.3229,25.7,72702.0,"55,911",55911.0,AK,TNSG North Plant,70.235278,-148.383611
5181,91,AK,NSB Nuiqsut Utility,DFO,0.1510,4.8,6349.0,"5,825",5825.0,AK,NSB Nuiqsut Utility,70.220565,-150.993492

In [49]:
merged.iloc[0]['PNAME_x']

'Barrow'

**(6)** What is the state where the northern-most power plant in the United States is located?

In [46]:
merged.iloc[0]['PSTATABB_x']

'AK'